<div class="container mx-auto max-w-[600px]">
  <h1 class="text-center">正規表現チェッカー</h1>

  <%= form_for @regular_expression, url: regular_expressions_path, html: { data: { turbo_frame: 'regexp', controller: 'regexp', action: 'input->regexp#submit' } } do |f| %>
    <div class="field mt-5">
      <%= f.label :expression, class: 'block' %>
      <%= f.text_field :expression, size: 80, placeholder: '', class: 'w-full p-2 border border-gray-300 rounded' %>
    </div>

    <div class="field mt-5">
      <%= f.label :test_string, class: 'block' %>
      <%= f.text_area :test_string, size: '60x6', placeholder: '', class: 'w-full p-2 border border-gray-300 rounded' %>
    </div>

    <div class="mt-5">
      <%= f.submit 'チェック', class: 'w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75' %>
    </div>
  <% end %>

  <!-- [ポイント] -->
  <!-- 動的かつ部分的に変わる部分をturbo_frame_tagで囲む。 -->
  <!-- Turbo Frameは1ヶ所しか指定できない。 -->
  <!-- 複数箇所を同時に差し替えたいときはTurbo Streamを使う -->

  <ul class="mt-5 list-none p-0">
    <%= turbo_frame_tag 'regexp' do %>
      <% if @regular_expression.unready? %>
        <li>結果はここに出力されます。</li>
      <% elsif @regular_expression.valid? %>
        <li class="font-bold text-green-500">マッチしました！！</li>
      <% else %>
        <% @regular_expression.errors.full_messages.each do |message| %>
          <li class="font-bold text-red-500"><%= message %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
