<div class="bg-gray-900 rounded-lg shadow-lg pt-4 pb-6 px-4 text-gray-300 text-base leading-snug">
  <!-- Tabs -->
  <div class="mb-4 overflow-x-auto" data-controller="drag-scroll">
    <div class="flex whitespace-nowrap cursor-grab">
      <% regexp_example_categories.each_with_index do |(cat, data), i| %>
        <button type="button"
                data-action="click->regexp-examples#showCategory"
                data-regexp-examples-target="tab"
                data-category="<%= cat.to_s.parameterize %>"
                class="category-tab flex-shrink-0 px-2.5 py-2 transition
               <%= i.zero? ? "bg-gray-700 text-white text-xs" : "bg-gray-800 hover:bg-gray-700 text-gray-300 text-xs" %>">
          <%= data[:short] %>
        </button>
      <% end %>
    </div>
  </div>

  <!-- Categories -->
  <% regexp_example_categories.each_with_index do |(cat, data), i| %>
    <div data-regexp-examples-target="category"
         data-category="<%= cat.to_s.parameterize %>"
         class="examples-category <%= i.zero? ? "" : "hidden" %>">

      <div class="mb-2 text-sm text-gray-400 italic px-1">
        <%= data[:description] %>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-2 leading-tight">
        <% data[:examples].each do |ex| %>
          <div class="cursor-pointer hover:text-blue-400 transition duration-150 text-sm"
               style="line-height:1.2; margin-bottom:0.2rem;"
               data-action="click->regexp-examples#selectExample"
               data-regexp-examples-target="example"
               data-pattern="<%= ex[:pattern] %>"
               data-test="<%= ex[:test].gsub('"', "&quot;") %>"
               data-result="<%= ex[:result] %>"
               data-description="<%= ex[:description] %>"
               data-options="<%= ex[:options] %>">
            <code><%= ex[:pattern].gsub("\\", "\\\\") %></code><br>
            <span class="<%= ex[:result] == "match" ? "text-green-400" : "text-red-500" %>">
              <%= ex[:test] %>
            </span><br>
            <span class="text-gray-500 text-xs"><%= ex[:description] %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
