<!DOCTYPE html>
<html>
  <head>
    <title><%= t("application.title", default: "Rubree - A Ruby regular expression editor inspired by Rubular") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- SEO Meta Tags -->
    <meta name="description" content="<%= t("application.description", default: "Rubree is a Ruby regular expression editor inspired by Rubular. Quickly test and visualize your regex patterns in an intuitive interface.") %>">
    <meta name="keywords" content="Ruby, regular expression, regex tester, regex editor, online regex tool, Rubular alternative, Rubree, Ruby regex playground, pattern matching, regex visualization, live regex testing, railroad diagrams, railroad diagrams visualization, regex diagram, visual regex, regex railroads">

    <!-- Open Graph (OGP) -->
    <meta property="og:title" content="<%= t("application.title") %>">
    <meta property="og:description" content="<%= t("application.description") %>">
    <meta property="og:image" content="https://raw.githubusercontent.com/aim2bpg/rubree/main/app/assets/images/logo.png">
    <meta property="og:url" content="https://aim2bpg.github.io/rubree/">
    <meta property="og:site_name" content="<%= t("application.site_name") %>">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aim2bpg">
    <meta name="twitter:creator" content="@aim2bpg">
    <meta name="twitter:title" content="<%= t("application.title") %>">
    <meta name="twitter:description" content="<%= t("application.description") %>">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/aim2bpg/rubree/main/app/assets/images/logo.png">

    <!-- Google Search Console verification -->
    <meta name="google-site-verification" content="google275e034a6d04989a">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Google Fonts: Example using Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,650;1,650&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-800 text-white" data-controller="regexp-examples">
    <%= render "layouts/header" %>
    <div class="container mx-auto">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
